body {
    background: url(oranges.jfif) no-repeat;
    background-position: 0%;
    background-size: 100%;
    text-align: center;
    display: flex; /* Flexbox applied */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin: 0;
}
.container {
    background-color: rgb(255, 187, 0);
    border: 5px solid rgb(172, 97, 5);
    width: 80%;
    height: 80%;
    padding: 5px; /* Optional: add some padding */


}
.hcontainer {
}
.mcontainer {
    width: auto;
    height: 300px;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
  
}
.hr {
    border: 2px solid rgb(172, 97, 5);

}
* {
    box-sizing: border-box;
}

.pcontainer {
    width: 25%;
    height: 50%;
    background-color: ;
    border: 3px solid rgb(172, 97, 5) ;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.fcontainer {
    background-color: ;
}
